div.App {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: gray;
}

div.falling-circle{
  position: absolute;
  top: 10%;
  left: 50%;
  height: 5rem;
  width: 5rem;
  background-color: black;
  border-radius: 2.5rem;
  transition: 500ms;
}